html{
 font-size:56%;

}

*,::before,
::after{
  margin:0;
  padding:0;
}
body{
}
.container{
  max-width:114rem;
 margin:0 auto;
}

.bg-w{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  background-color:#fff;

}
.header-link{
  text-decoration:none;
  font-size:2.4rem;
  color:#333;
font-weight:300;

}
.flex{
  display: flex;
 align-items: center;
}
.loading{
  width: 80px;
  height: 80px;
  border:8px solid #ccc;
  border-radius: 50%;
  border-top-color: #eea1a1;
  animation: spinner .4s linear infinite;
}

@keyframes spinner {
  from{
    transform: rotate(360deg);
  }
  
}
.cart-grid{

    display:grid;
    grid-template-columns:repeat(4,1fr);
   justify-items:center;
  margin-bottom: 4rem;
  align-items: center;
  }